.news-id {
  font-weight: bold;
  color: #cccccc;
  position: absolute;
  bottom: 0;
  left: 15px;
}
.news-rate {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #cccc00;
  font-size: 46px;
}
.news-rate span {
  font-size: 12px;
}
