<h1 class="col-md-4">TOP RATED NEWS:</h1>
<div class="tile col-md-8" [hidden]="isErrOccurred" *ngFor="let rateNew of ratedNews">
<p class="title-news">{{ rateNew.title }}</p>
<p>{{ rateNew.subTitlte }}</p>
<p class="news-id">News Id: {{ rateNew.id }}</p>
  <p class="news-rate">
    <span class="glyphicon glyphicon-star"></span>
    {{ rateNew.rate }}
    <span class="glyphicon glyphicon-star"></span>
  </p>
</div>
<div class="error col-lg-12" *ngIf="isErrOccurred">Server is too busy, please try later.</div>

