<div class="container">
  <div class="col-md-3">
    <a id="logo" href="#"><span>GOLD NEWS </span>| BY NAOR</a>
  </div>
  <div class="menu col-md-4">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active-link" class="link">HOME</a></li>
      <li><a routerLink="/top" routerLinkActive="active-link" class="link">TOP RATED</a></li>
      <li><a routerLink="/news" routerLinkActive="active-link" class="link">SEARCH NEWS</a></li>
      <li><a routerLink="/reporters" routerLinkActive="active-link" class="link">SEARCH REPORTER</a></li>
    </ul>
  </div>
</div>
