<div class="col-lg-8">
  <div class="input-group">
    <input type="text" class="form-control"
           placeholder="SEARCH NEWS BY ENTERING VOD ID"
           [(ngModel)] = "reporterId">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="getReporter(reporterId)">
          <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
  </div>
</div>
<div class="tail col-md-5 " *ngFor="let reporter of reporters">
  <p class="reporter-name">Name: {{ reporter.name }}</p>
  <p class="reporter-id">ID: {{ reporter.id }}</p>
  <p class="reporter-age">Age: {{ reporter.age }}</p>
  <p class="reporter-proficiency">Proficiency: {{ reporter.proficiency }}</p>
  <p class="vod-id">Total Reports: {{ reporter.vod }}</p>
</div>
