<div class="col-lg-8">
  <div class="input-group">
    <input type="text" class="form-control"
           placeholder="SEARCH NEWS BY ENTERING REPORTER ID"
            [(ngModel)] = "reporterId">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="getVod(reporterId)">
          <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
  </div>
</div>
<div class="tail col-md-5 " *ngFor="let vod of hack(vods)">
  <p class="title-news">{{ vod.title }}</p>
  <p class="sub-title-news">{{ vod.subTitlte }}</p>
  <p class="reporter-id">Reporter Id: {{ reporter }}</p>
</div>
