<h1>SEARCH NEWS:</h1>
<div class="col-lg-8">
  <div class="input-group">
    <input type="text" class="form-control"
           placeholder="Insert a reporter ID..."
            [(ngModel)] = "reporterId">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="getVod(reporterId)">
          <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
  </div>
</div>
<div class="tail col-md-5 " *ngFor="let vod of vods">
  <p class="title-news">{{ vod.title }}</p>
  <p>{{ vod.subTitlte }}</p>
  <p class="reporter-id">Reporter Id: {{ reporter }}</p>
</div>
