h1 {
  display: inline-block;
}
.tile {
  height: 180px;
}
.reporter-id {
  font-weight: bold;
  color: #cccccc;
  position: absolute;
  bottom: 0;
  left: 15px;
}
.vod-id {
  font-weight: bold;
  color: #cccccc;
  position: absolute;
  right: 15px;
  bottom: 0;
}

