<h1 class="col-md-4">SEARCH NEWS:</h1>
<div class="col-lg-8">
    <input type="text" class="search"
           placeholder="Insert a reporter ID"
           [(ngModel)] = "reporterId">
      <span class="glyphicon glyphicon-search go-search" (click)="getNewsByReporterId(reporterId)"></span>
</div>
<div class="tile col-md-5 " *ngFor="let vod of vods">
  <p class="title-news">{{ vod.title }}</p>
  <p class="vod-id">NewID:{{ vod.id }}</p>
  <p>{{ vod.subTitlte }}</p>
  <p class="reporter-id">Reporters Id: {{ vod.reporter }}</p>

</div>
