.tail {
  height: 150px;
  background: #000000;
  color: #ffffff;
  opacity: 0.6;
  position: relative;
  border-radius: 15px;
  margin: 5px 25px 25px 25px;
  padding-top: 5px;
}
.title-news {
  font-weight: bold;
  color: #cccccc;
}

